<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve the React application for routes that are not real files or folders.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
